@import "_variables";

$small-radius: 3px;
$large-radius: 10px;

.chatContainer {
    position: relative;
}

.chatGroup {
    clear: both;
}

.chatMessage {
    border-radius: $large-radius;
    padding: 5px;
    max-width: 500px;
    margin: 2px;
    clear: both;
    display: inline-block;
}

.chatInfoMessage {
    text-align: center;
    max-width: 100%;
    display: block;
}

.chatMeMessage {
    border-top-right-radius: $small-radius;
    border-bottom-right-radius: $small-radius;

    background: $bs-danger;
    float: right;

    &:first-child {
        border-top-right-radius: $large-radius;
    }

    &:last-child {
        border-bottom-right-radius: $large-radius;
    }
}

.chatThemMessage {
    border-top-left-radius: $small-radius;
    border-bottom-left-radius: $small-radius;

    background: $bs-primary;
    float: left;

    &:first-child {
        border-top-left-radius: $large-radius;
    }

    &:last-child {
        border-bottom-left-radius: $large-radius;
    }
}