@import "_variables";

.chatContainer {
    position: relative;
}

.chatGroup {
    clear: both;
}

.chatMessage {
    border-radius: 3px;
    padding: 5px;
    max-width: 500px;
    margin: 2px;
    clear: both;

    // TODO: This is not exactly right.
    &:first-child {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    &:last-child {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

.chatInfoMessage {
    text-align: center;
}

/* TODO: Try to accomplish this without floats. */
.chatMeMessage {
    background: $bs-danger;
    float: right;
}

.chatThemMessage {
    background: $bs-primary;
    float: left;
}