$primary-color: rgb(30, 30, 30);
$body-color: rgb(200, 200, 200);

$bashing-img: url("images/bashing-lt.png");
$lethal-img: url("images/lethal-lt.png");
$aggravated-img: url("images/aggravated-lt.png");

$bs-primary: #007bff;
$bs-success: #28a745;
$bs-danger: #dc3545;